li{
    list-style: none;
}
a{
    list-style: none;
    height: 49px;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 104px;
    cursor: pointer;
}
ul{
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    align-items: center;
    height: 49px;
    padding-left: 0;
}
nav{
    padding-top: 0!important;
}
a:hover{
    background-color: #1f1d1d;
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
    transition: 0.5s;
    color: #a7501e !important;
    text-decoration: none;
}
a:focus-within{
    background-color: #1f1d1d;
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
    transition: 0.5s;
    color: #a7501e !important;
    text-decoration: none;
}

/* li:hover > a{
    transition: 0.5s;
    color: #a7501e !important;
    text-decoration: none;
} */
.row{
    margin: 0;
}
.navdiv{
    border-radius: 6px;
    margin: 0 0 2em 0;
    position: relative;
    margin-top: -1em;
    height: 100px;
    background-color: white;
    position: relative;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
}
.navbarRedondo{
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    padding: 16px;
    background-color: white;
}
@media(max-width:770px){
    ul{
        padding: 0;
    }
}
