<main class="container-fluid main-container">

    <section id="section1" class="ml-3 mt-5 pt-4 section1-home">
        <h2 class="mb-3 mt-5 title-home">Paleontologia</h2>
        <div class="w-50 mb-5">
            <p class="paragraph-home">A Paleontologia é a ciência que estuda fósseis e registros pré-históricos de seres
                vivos que já habitaram a Terra. Sua principal função é reconstituir espécies animais e vegetais com a
                ajuda de elementos encontrados em escavações, descobrir suas características físicas, identificar seus
                hábitos e relações com o meio ambiente.

            </p>
        </div>
    </section>

    <div class="d-flex mt-5 mb-5 justify-content-around parallax">
            
    </div>

    <section id="section2" class="mt-5 pt-4 section2-home">
        <h2 class="mb-5 mt-5 title-home text-center">Conheça as espécies encontradas pelo mundo</h2>
        
        <div class="row m-5 d-flex justify-content-center">
            <div class="col-md-4 d-flex justify-content-center w-especies">
                <img class="w-50"src="../../assets/img/inseto-secado-em-ambar.png" alt="">
            </div>
            <div class="col-md-4 d-flex justify-content-center w-especies">
                <img class="w-50"  src="../../assets/img/dinossauro (3).png" alt="">
            </div>
            <div class="col-md-4 d-flex justify-content-center w-especies">
                <img  class="w-50" src="../../assets/img/triceratops.png" alt="">
            </div>
        </div>
        <div class="mt-5 d-flex justify-content-center">
            <button class="btn btn-especies">Conhecer</button>
        </div>
    </section>

    <hr class="linha-home mb-5">

    <section id="section2" class="mt-5 pt-4 section2-sobre">
        <h2 class="mb-4 mt-5 title-home text-center">Notícias mais recentes</h2>
        <div class=" d-flex justify-content-center w-noticias">
            <div class="card mb-3 mt-5" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-md-4 w-img-noticia">
                      <a href="https://www.opovo.com.br/noticias/fortaleza/2020/04/13/conheca-o-paleontologo-cearense-integrante-da-equipe-que-descobriu-nova-especie-de-reptil-fossil.html" target="_blank">
                        <img src="../../assets/img/noticia1.jpg" class="card-img" alt="...">
                    </a>
                    
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Nova espécie de réptil fóssil</h5>
                      <p class="card-text">Conheça o paleontólogo cearense integrante da equipe que descobriu nova espécie de réptil fóssil.</p>
                      <p class="card-text"><small class="text-muted">10:00 | 13/04/2020</small></p>
                    </div>
                  </div>
                </div>
              </div>
        </div>

        <div class=" d-flex justify-content-center w-noticias">
            <div class="card mb-3 mt-5" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-md-4 w-img-noticia">
                      <a href="https://revistagalileu.globo.com/Ciencia/noticia/2020/04/australianos-encontram-ambar-com-fosseis-de-moscas-acasalando.html" target="_blank">
                        <img src="../../assets/img/notiica2.jpg" class="card-img" alt="...">
                    </a>
                    
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Australianos encontram âmbar</h5>
                      <p class="card-text">Cientistas na Austrália, identificaram fósseis de duas moscas (Dolichopodidae) acasalando no âmbar.</p>
                      <p class="card-text"><small class="text-muted">03 ABR 2020 | 13H02</small></p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        
        <div class=" d-flex justify-content-center w-noticias">
            <div class="card mb-3 mt-5"  style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-md-4 w-img-noticia">
                    <a href="https://istoe.com.br/cacadores-de-fosseis/" target="_blank">
                        <img src="../../assets/img/noticia3.jpg" class="card-img" alt="...">
                    </a>
                    
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Caçadores de fósseis</h5>
                      <p class="card-text">Equipe de pesquisadores paulistas descobre vértebra de Titanossauro, gigantesco animal que viveu no Brasil há cerca de 80 milhões de anos.</p>
                      <p class="card-text"><small class="text-muted">08/11/2019</small></p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="d-flex justify-content-center mt-3">
            <button class="btn btn-noticias">Ver mais</button>
        </div>
    
    </section>

</main>