<footer class="container-fluid w-100 d-block justify-content-center mt-5 footerPadding bgFooter pt-5">
    <div class="w-100 d-flex justify-content-around">
        <div class="txt-cor-info text-center">
            <h6 class="txt-cor">Onde ficamos?</h6>
            <p class="mt-5 txt-cor-info">Rua, 000 - São paulo, SP</p>
        </div>
        <div class="txt-cor-info text-center">
            <h6 class="txt-cor">Contate-nos</h6>
            <p class="mt-5 txt-cor-info">(00)00000-0000</p>
            <p>(00)00000-0000</p>
            <a href="#">exemplo@exemplo.com</a>
        </div>
    </div>
    <hr class="linhaFooter mb-0 mt-5">
    <hr class="linhaFooter mt-1 mb-5">
    <div class="mb-5 d-flex justify-content-center">
        <div class=" redes-sociais txt-cor-info mb-3">
            <h6 class="txt-cor text-center">Siga-nos</h6>
            <ul class="social-networks d-flex justify-content-center mt-5">
                <li>
                    <a href="#" class="icoFacebook" title="Facebook">
                        <fa-icon [icon]="faFacebook" class="faFacebook fa-3x p-4"></fa-icon>
                    </a>
                </li>
                <li>
                    <a href="#" class="icoInstagram" title="Instagram">
                        <fa-icon [icon]="faInstagram" class="faInstagram fa-3x p-4"></fa-icon>
                    </a>
                </li>
                <li>
                    <a href="#" class="icoLinkedin" title="Linkedin">
                        <fa-icon [icon]="faLinkedin" class="faLinkedin fa-3x p-4"></fa-icon>
                    </a>
                </li>
            </ul>
        </div>
    </div>
        <div class="d-flex justify-content-center w-100 text-center txt-cor-info">
            <p class="copyFooter">&copy;Untitled. All rights reserved.</p>
        </div>
</footer>
