<main class="container-fluid main-container">

    <section id="section1" class="ml-3 mt-5 pt-4 section1-home">
        <h2 class="mb-3 mt-5 title-sobre">Paleontologia</h2>
        <div class="w-50 mb-5">
            <p class="paragraph-sobre">A Paleontologia é a ciência que estuda fósseis e registros pré-históricos de seres
                vivos que já habitaram a Terra. Sua principal função é reconstituir espécies animais e vegetais com a
                ajuda de elementos encontrados em escavações, descobrir suas características físicas, identificar seus
                hábitos e relações com o meio ambiente.

            </p>
        </div>
    </section>

    <hr class="linha-sobre mb-5">

    <section id="section2" class="mt-5 pt-4 section2-sobre">
        <h2 class="mb-4 mt-5 title-sobre text-center">Paleontologia no Brasil e pelo mundo</h2>
        <div class="row mt-5">
            <div class="col-md-6 w-70 mb-5 ml-3 d-block border-bottom">
                <div class="mt-5 mb-3 d-flex justify-content-center">
                    <img class="w-25 girar" src="../../assets/img/brasil.svg" alt="">
                </div>
                <p class="paragraph-sobre text-center">O Brasil possui dez importantes sítios paleontológicos,
                    localizados principalmente nos estados do Rio Grande do Sul, Piauí, Minas Gerais e Paraíba. Este
                    último, inclusive, é sede do Vale dos Dinossauros, um dos maiores parques paleontológicos do Brasil,
                    onde é possível encontrar a <mark class="bg-warning">maior</mark> quantidade de pegadas fossilizadas de dinossauros do mundo!

                </p>
            </div>
            <div class="row d-flex justify-content-end ">
                <div class="col-md-6 w-70 mb-5 border-bottom">
                    <div class="mt-5 mb-3 d-flex justify-content-center">
                        <img class="w-25 girar" src="../../assets/img/dinossauro.png" alt="">
                    </div>
                    <p class="paragraph-sobre text-center">
                        Paleontólogos já identificaram pelo menos <mark class="bg-success">27</mark> espécies de dinossauros que pisaram no que
                        corresponde,
                        hoje, ao território brasileiro.
                    </p>
                </div>
            </div>
            <div class="row d-flex ml-2 justify-content-start">
                <div class="col-md-6 w-70 mb-5">
                    <div class="mt-5 mb-3 d-flex justify-content-center">
                        <img class="w-25 girar" src="../../assets/img/dinossauro (2).png" alt="">
                    </div>
                    <p class="paragraph-sobre text-center">
                        O maior dinossauro descoberto até o momento foi encontrado na <mark class="bg-info">Argentina</mark>.
                        A espécie, que, segundo os pesquisadores, ainda não havia crescido completamente, era um
                        herbívoro do grupo dos titanossauros e apresentava 26 metros de comprimento e cerca de 65
                        toneladas. O peso pode ser comparado a 10 elefantes-africanos, que, atualmente, é a maior
                        espécie terrestre viva em nosso planeta.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <hr class="linha-sobre mb-5">


    <section class="mt-5 pt-4 mb-5 section2-sobre">
        <h2 class="mb-4 mt-5 title-sobre text-center">Conheça os museus</h2>
        <div class="w-70 mb-5">
            <!-- <p class="paragraph-home text-center">veja quais são os museus que possuem grande informações históricas do
                período paleolítico </p> -->
        </div>

        <!-- Carousel -->

        <div id="carouselExampleControls" class="carousel slide mb-5" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">

                    <div class="d-flex justify-content-center">
                        <div class="card mr-2" style="width: 18rem;">
                            <img src="../../assets/img/fachada_museu.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Museu de Ciências Naturais</h5>
                                <p class="card-text">Localizado na Universidade Federal do Rio Grande do Sul. Possui um
                                    setor de geomorfologia costeira e
                                    paleontologia, possui peças fósseis, réplicas e representações gráficas de ambientes
                                    de eras geológicas passadas.</p>
                                <div class="d-flex justify-content-center">
                                    <a href="#" class="btn btn-carousel">Ver mais</a>
                                </div>
                            </div>
                        </div>
                        <div class="card mr-2" style="width: 18rem;">
                            <img src="../../assets/img/museutaubate.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Museu de História Natural de Taubaté</h5>
                                <p class="card-text"> Localizado em São paulo. Aqui há fósseis de
                                    aves, mamíferos e répteis. Um dos destaques é o crânio do maior jacaré de todos os
                                    tempos: "o Purussaurus brasiliensis", que atingia quase 20 metros de comprimento.
                                </p>
                                <div class="d-flex justify-content-center">
                                    <a href="#" class="btn btn-carousel">Ver mais</a>
                                </div>
                            </div>
                        </div>
                        <div class="card" style="width: 18rem;">
                            <img src="../../assets/img/boa-vista.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Museu Nacional da Quinta da Boa Vista </h5>
                                <p class="card-text">Unidades da Universidade Federal do Rio de Janeiro. Museu Nacional
                                    têm exposições relacionadas à antropologia e à história natural. há coleções
                                    científicas de Paleontologia da UFRJ.</p>
                                <div class="d-flex justify-content-center">
                                    <a href="#" class="btn btn-carousel">Ver mais</a>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="carousel-item">


                    <div class="d-flex justify-content-center">
                        <div class="card mr-2" style="width: 18rem;">
                            <img src="../../assets/img/museupeiropolis.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Museus dos Dinossauros de Peirópolis</h5>
                                <p class="card-text">Localizado em Minas gerais. Também temos o nosso Jurassic Park! Há
                                    fósseis descobertos na década de 1940 e fósseis de vertebrados, que viveram no local
                                    há cerca de 80 milhões de anos.</p>
                                <div class="d-flex justify-content-center">
                                    <a href="#" class="btn btn-carousel">Ver mais</a>
                                </div>
                            </div>
                        </div>
                        <div class="card mr-2" style="width: 18rem;">
                            <img src="../../assets/img/museugeodiversidade.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Museu da Geodiversidade da UFRJ</h5>
                                <p class="card-text">Abriga a terceira maior coleção de
                                    fósseis no país, catalogada pelo sistema Paleo do Serviço Geológico do Brasil.
                                    Um acervo com aproximadamente 20.000
                                    minerais, rochas, solos e fósseis.
                                    <div class="d-flex justify-content-center">
                                        <a href="#" class="btn btn-carousel">Ver mais</a>
                                    </div>
                            </div>
                        </div>
                        <div class="card" style="width: 18rem;">
                            <img src="../../assets/img/dino.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Museu de Ciências da Terra</h5>
                                <p class="card-text">Localizado no Rio de Janeiro, acervo de vertebrados fósseis que
                                    viveram no Brasil durante a Era Mesozóica. Uma mostra contando a vida de um dos
                                    maiores paleontólogos do DNPM, com o seu legado cientifico e cultural deixado para o
                                    Brasil</p>
                                <div class="d-flex justify-content-center">
                                    <a href="#" class="btn btn-carousel">Ver mais</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev btn-seta-carousel" href="#carouselExampleControls" role="button"
                data-slide="prev">
                <span class=".btn-seta-carousel" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
                <fa-icon [icon]='faChevronLeft' class="faChevronLeft fa-3x p-3"></fa-icon>
            </a>
            <a class="carousel-control-next btn-seta-carousel" href="#carouselExampleControls" role="button"
                data-slide="next">
                <span class=".btn-seta-carousel" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
                <fa-icon [icon]='faChevronRight' class="faChevronRight fa-3x p-3"></fa-icon>
            </a>
        </div>

    </section>
    <!-- Fim do Carousel -->


</main>