/* ---------- Container ---------------- */
.main-container{
    height: 160rem;
}
/* ------------- Sessão introducao de paleontologia -----------  */
.title-sobre{
    color: #4e4e52;
    letter-spacing: 1.5px;
}
.paragraph-sobre, .title-sobre, .paragraph-texto-Inicial{
    font-weight: 300;
}
.section1-sobre{
    height: 300px;
}

/* --------------------<hr>------------------------------ */
.linha-sobre{
    border-top: 1px solid rgba(0, 0, 0, 0.22);
}

/*------------------------------ Carousel------------------------------ */
.card-title{
    font-weight: 400;
}
.card-text{
    font-weight: 200;
}
.btn-seta-carousel{
    width: 5%!important;
}
.btn-carousel{
    color: #d87618;
    border: 1px solid;
}
.btn-carousel:hover{
    background-color: #e4e4e4;
    color: #d87618;
}
/* ---------------- Icones do Carousel ----------------*/
.faChevronLeft, .faChevronRight{
    color:#9c9c9c;
}
.row{
    margin-right: 0!important;
    margin-left: 0!important;
}
.grupos-responsive{
    visibility: hidden;
}
/* ---------------- Fim do Carousel ------------------------- */

/* ------------- Sobre a paleontologia --------------------- */
.girar:hover{
    transition: 1s;
    transform: rotateZ(360deg);
}
/* ----------------- Media query ------------------------ */
@media(max-width:770px){
    .girar{
        width: 13% !important;
    }
    .paragraph-sobre{
        width: 65%;
        text-align: justify!important;
    }
    .paragraph-texto-Inicial{
        width: 25em!important;
        text-align: justify!important;
    }
    .grupos{
        visibility: hidden;
        display: none;
    }
    .grupos-responsive{
        visibility: visible!important;
    }
    .p-3{
        padding: 0!important;
    }
}
@media(max-width:490px){
    .paragraph-sobre, .paragraph-texto-Inicial{
        width: 310px!important;
        text-align: justify!important;
    }
    .girar{
        width: 25%!important;
    }
}
