<header class="w-100">
    <div class="w-100 banner d-flex justify-content-center align-items-center">
        <div class="text-center divTitle mr-3 ml-3">
            <h3 class="titulo">PaleonWorld</h3>
            <hr class="linha mb-0">
            <hr class="linha mt-1">
            <p class="subtitulo">Conheça o mundo da paleontologia</p>
            <div class="div-seta ml-3 mr-3 mt-5 d-flex justify-content-center">
                <div ng-click="vm.scrollTo('section1')" class="Seta mt-4 d-flex justify-content-center rounded-circle">
                    <fa-icon  [icon]='faAngleDown' class="faAngleDown fa-3x"></fa-icon>
                </div>
            </div>
        </div>
        <img class="imgbanner" src="../../assets/img/banner2.jpg" alt="">            
    </div>
</header>